  [data-amplify-authenticator] {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: var(--dark-default);
  }

  [data-amplify-router] {
      background-color: var(--dark-default);
      /* Dark background */
  }