## Request mapping template for toggleListVisibility mutation
## File: toggleListVisibility.req.vtl
{
  "version": "2017-02-28",
  "operation": "UpdateItem",
  "key": {
    "id": $util.dynamodb.toDynamoDBJson($ctx.args.listId)
  },
  "update": {
    "expression": "SET #isPublic = :isPublic",
    "expressionNames": {
      "#isPublic": "isPublic"
    },
    "expressionValues": {
      ":isPublic": $util.dynamodb.toDynamoDBJson($ctx.args.isPublic)
    }
  }
}